$footer-bg: $primary-color;

.footer {
  background: $footer-bg;
  color: darken($footer-bg, 40%);
  padding: 2rem 0 0;

  a {
    color: darken($footer-bg, 40%);
  }

  &__block {
    padding-bottom: 1rem;
  }

  &__title {
    color: $white;
  }

  &__contact {
    .fas {
      font-size: 2rem;
      color: darken($footer-bg, 20%);
      min-width: 3rem;
    }
  }
}

.footer-bottom {
  background: darken($footer-bg, 20%);
  padding: 1rem 0;

  a {
    color: darken($footer-bg, 40%);
  }
}

@include breakpoint(medium up) {
  .footer {
    ul {
      justify-content: flex-end;
    }
  }
}
