header {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), asset_url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}

.header {
  min-height: 50vh;

  &__title,
  &__subtitle {
    color: $light-gray;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
  }
}
