header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}

.top-bar {
  position: absolute;
  width: 100%;
}


  .top-bar {
    ul {
      background-color: $white;

      @include breakpoint(medium up) {
        background-color: transparent;
      }
    }

    a,
    .active a
    {
      background: $white;
      color: $black;

      @include breakpoint(medium up) {
        background: transparent;
        color: #ffffff;
      }
    }
  }

.header {
  min-height: 50vh;

  @include breakpoint(medium up) {
    padding-top: 4rem;
  }

  &__title,
  &__subtitle {
    color: $light-gray;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
  }
}

.webp {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), asset_url("header.webp");
  }
}

.no-js,
.no-webp {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), asset_url("header.jpg");
  }
}
