header {
  background-image: asset_url("court-prather-792772-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  padding: 2rem 0;
}
