.parallax-content {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem 0 0;

  &--golf {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), asset_url("parallax_golf.jpg");
  }

  &__wrapper {
    min-height: 50vh;
    background-color: rgba(255,255,255,0.50);
  }

  &__block {
    margin-bottom: 4rem;
  }
}
