<form>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label for="name">Namn</label>
      <input id="name" name="name" type="text" placeholder="Namn" />
    </div>
    <div class="small-12 medium-6 columns">
      <label for="email">E-post</label>
      <input id="email" name="email" type="text" placeholder="E-post" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label for="text">Meddelande</label>
      <textarea id="text" name="text" rows="3" placeholder="Meddelande"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input class="button radius" type="submit" id="submit" value="Skicka" />
    </div>
  </div>
</form>
