    <footer itemscope itemtype="http://data-vocabulary.org/Person">
      <div class="row">
        <div class="small-12 columns">
          <h2 class="footer__title" itemprop="affiliation">New Challenge</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-4 columns">
          <span itemprop="name"><span itemprop="givenName">Marcus</span> <span itemprop="familyName">Nyqvist</span></span><br>
          <a href="mailto:newchallengesweden@gmail.com" itemprop="email">newchallengesweden@gmail.com</a><br>
          <span itemprop="telephone">0735-83 33 29</span><br>
          <a href="#">
            <img src="/img/facebook-square.svg" width="100px" alt="Facebook" />
          </a>
          <a href="#">
            <img src="/img/rss-feed.svg" width="100px" alt="RSS" />
          </a>
        </div>
        <div class="small-12 medium-8 columns">
          <ul class="sitemap clearfix">
            <li class="sitemap__item">
              <a class="sitemap__link" href="/">Hem</a>
            </li>
            {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
                <li class="sitemap__item">
                  <a class="sitemap__link" href="{{ .Url }}">{{.Name}}</a>
                  <ul class="sitemap__sub">
                    {{ range .Children }}
                    <li class="sitemap__subitem">
                      <a class="sitemap__sublink" href="{{ .Url }}">{{.Name}}</a>
                    </li>
                    {{ end }}
                  </ul>
                </li>
              {{ else}}
                <li class="sitemap__item">
                  <a class="sitemap__link" href="{{ .Url }}">{{.Name}}</a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
