<!doctype html>
<html class="no-js" lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <meta name="keywords" content="{{with .Params.meta_keywords}}{{.}}{{else}}{{.Site.Params.meta_keywords}}{{end}}" />
    <meta name="description" content="{{with .Description}}{{.}}{{else}}{{.Site.Params.meta_description}}{{end}}" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/modernizer.js"></script>
  </head>
  <body>
    <div id="skip"><a href="#content">Hoppa till innehåll</a></div>
    <div class="header"{{ if .Site.Params.dev }} style="background-image: url('/newchallenge/img/background.jpg');"{{end}}>
      <div class="row">
        <div class="small-12 columns header--content">
          <div class="header--company"><img src="/img/logo.png" alt="New Challenge logo" /></div>
          <div class="header--slogan">Idrottspsykologisk Rådgivning</div>
          <div class="header--name">Marcus Nyqvist</div>
        </div>
      </div>
    </div>
    {{ partial "navigation.html" . }}
