<!doctype html>
<html class="no-js" lang="sv" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if eq .Title .Site.Title | not }}{{.Title}} - {{end}}{{.Site.Title}}</title>
    <meta name="keywords" content="{{with .Params.meta_keywords}}{{.}}{{else}}{{.Site.Params.meta_keywords}}{{end}}" />
    <meta name="description" property="og:description" content="{{with .Description}}{{.}}{{else}}{{.Site.Params.meta_description}}{{end}}" />

    <meta property="og:title" content="{{.Site.Title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{.Permalink}}" />
    <meta property="og:image" content="{{.Site.BaseUrl}}{{with .Params.og_image}}{{.}}{{else}}{{.Site.Params.og_image}}{{end}}" />
    <meta property="og:image:width" content="{{with .Params.og_image_width}}{{.}}{{else}}{{.Site.Params.og_image_width}}{{end}}" />
    <meta property="og:image:height" content="{{with .Params.og_image_height}}{{.}}{{else}}{{.Site.Params.og_image_height}}{{end}}" />

    <link rel="alternate" type="application/rss+xml" title="RSS-flöde för newchallenge.se" href="{{.Site.BaseUrl}}event/index.xml" />
    <link rel="stylesheet" href="/css/app.css?v=3" />
    <script src="/js/modernizer.js"></script>
  </head>
  <body>
    <div id="skip"><a href="#content">Hoppa till innehåll</a></div>
    <div class="header"{{ if .Site.Params.dev }} style="background-image: url('/newchallenge/img/background.jpg');"{{end}}>
      <div class="row">
        <div class="small-12 columns header--content">
          <div class="header--company"><img src="/img/logo.svg" alt="New Challenge logo" /></div>
          <div class="header--slogan">Idrottspsykologisk Rådgivning</div>
          <div class="header--name">Marcus Nyqvist</div>
        </div>
      </div>
    </div>
    {{ partial "navigation.html" . }}
