<section class="parallax-content parallax-content--golf">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-stretch">
      <div class="cell medium-6 padding-vertical-2 parallax-content__block contact">
        <p>Kontakta Marcus Nyqvist om du har frågor kring rådgivning eller föreläsningar.</p>
        <p>Skicka en intresseanmälan här på hemsidan direkt eller till <a href="mailto:marcus@newchallenge.se">marcus@newchallenge.se</a>.</p>
        <p>Eller ring på <a href="tel:+46735833329">0735-83 33 29</a>.</p>
      </div>
      <div class="cell medium-6 parallax-content__block">
        <form>
          <div class="grid-x contact-form">
            <div class="cell contact-form__head">
              <h2>Kontakta oss</h2>
            </div>
            <div class="cell contact-form__body padding-top-1">
              <label>
                Namn
                <input id="name" name="name" type="text" placeholder="Namn">
              </label>
            </div>
            <div class="cell contact-form__body">
              <label>
                E-post
                <input id="email" name="email" type="text" placeholder="E-post">
              </label>
            </div>
            <div class="cell contact-form__body">
              <label>
                Meddelande
                <textarea id="text" name="text" rows="3" placeholder="Meddelande"></textarea>
                </label>
            </div>
            <div class="cell contact-form__body">
              <input type="submit" class="button" value="Skicka" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--<div class="parallax-content__wrapper grid-x grid-padding-x align-center-middle text-center">
      <div class="cell parallax-content__body">Är du/ni intresserade av att veta mer och hur vi kan hjälpa er Kontakta Marcus Nyqvist direkt här på hemsidan.</div>
    </div>-->
  </div>
</section>
