<section class="parallax-content parallax-content--golf" id="kontakt">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-stretch">
      <div class="cell medium-6 padding-vertical-2 parallax-content__block contact">
        {{ site.data.site.contact | markdownify }}
      </div>
      <div class="cell medium-6 parallax-content__block">
        <form name="contact" action="{{ site.baseurl }}{{ site.form.success }}" method="POST" data-netlify="true" data-netlify-recaptcha="true">
          <div class="grid-x contact-form">
            <div class="cell contact-form__head">
              <h2>Kontakta oss</h2>
            </div>
            <div class="cell contact-form__body padding-top-1">
              <label>
                Namn
                <input id="name" name="name" type="text" placeholder="Namn">
              </label>
            </div>
            <div class="cell contact-form__body">
              <label>
                E-post
                <input id="email" name="email" type="text" placeholder="E-post">
              </label>
            </div>
            <div class="cell contact-form__body">
              <label>
                Meddelande
                <textarea id="text" name="text" rows="3" placeholder="Meddelande"></textarea>
                </label>
            </div>
            <div class="cell contact-form__body">
              <div class="g-recaptcha" data-sitekey="6Lcspb4UAAAAAF4zKBwuwhzDMfZ9PTqqaymidijI"></div>
            </div>
            <div class="cell contact-form__body">
              <input type="submit" class="button" value="Skicka" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
