<footer class="footer">
  <div>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-4 footer__block">
          <h4 class="footer__title">{{ site.title }}</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.</p>
        </div>
        <div class="cell medium-4 footer__block footer__contact">
          <h4 class="footer__title">Kontakt</h4>
          <p><i class="fas fa-mobile" aria-hidden="true"></i>0735-83 33 29</p>
          <p><i class="fas fa-envelope-open-text" aria-hidden="true"></i>{{ site.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="grid-container">
      <div class="grid-x align-justify">
        <div class="cell medium-auto">{{ site.title }} &copy; Copyright {{ site.time | date: "%Y" }}</div>
        <div class="cell medium-auto">
          <ul class="menu simple">
            {% for item in site.data.navigation.toc %}
              <li>
                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
{% asset _foundation/foundation.min.js %}
{% asset app.js %}
