<footer class="footer">
  <div>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-4 footer__block">
          <h4 class="footer__title">{{ site.title }}</h4>
          {{ site.data.site.footer_text | markdownify }}
        </div>
        <div class="cell medium-4 footer__block footer__contact">
          <h4 class="footer__title">Kontakt</h4>
          <p><i class="fas fa-mobile" aria-hidden="true"></i><a href="tel:{{ site.phone_short }}">{{ site.phone }}</a></p>
          <p><i class="fas fa-envelope-open-text" aria-hidden="true"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
        <div class="cell medium-4">
          <h4 class="footer__title">Instagram</h4>
          {% if site.instagram_access_token and site.instagram_access_token != '' %}
            <div class="grid-x grid-padding-x grid-padding-y small-up-2 large-up-3" id="instagram-feed">
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="grid-container">
      <div class="grid-x align-justify">
        <div class="cell medium-auto">{{ site.title }} &copy; Copyright {{ site.time | date: "%Y" }}</div>
        <div class="cell medium-auto">
          <ul class="menu simple">
            {% for item in site.data.navigation.toc %}
              <li>
                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
{% asset _foundation/foundation.min.js %}
{% asset app.js %}
<script src="https://www.google.com/recaptcha/api.js?hl=sv" async defer></script>
<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-61281982-1', 'auto');
   ga('send', 'pageview');
 </script>
{% if site.instagram_access_token and site.instagram_access_token != '' %}
  {% asset instafeed.min.js %}
  <script type="text/javascript">
    var feed = new Instafeed({
      accessToken: '{{ site.instagram_access_token }}',
      limit: {{ site.data.site.instagram.pictures }},
      target: 'instagram-feed',
      template: {% raw %}'<div class="cell"><a href="{{link}}" target="_blank"><img title="{{caption}}" src="{{image}}" /></a></div>'{% endraw %},
    });
    feed.run();
  </script>
{% endif %}
