<header>
  <div>
    {% include navigation.html %}
  </div>
  <div class="grid-container">
    <div class="header grid-x grid-padding-x align-center-middle">
      <div class="cell padding-vertical-1">
        <div class="grid-x align-center">
          <div class="cell small-7 medium-5 large-4">
            <a href="{{ site.baseurl }}/">{% asset logo_v2.png %}</a>
          </div>
        </div>
      </div>
      <div class="cell padding-vertical-1">
        {% if page.url == "/" %}
          <h1 class="text-center header__title">Idrottspsykologisk rådgivning</h1>
        {% else %}
          <h2 class="text-center header__title">Idrottspsykologisk rådgivning</h2>
        {% endif %}
        <h2 class="text-center header__subtitle">Marcus Nyqvist</h2>
      </div>
    </div>
  </div>
</header>
