.date {
  border: solid 1px $secondary-color;
  display: inline-block;
  padding: 1em;

  &__day, &__month, &__year {
    display: block;
    color: $secondary-color;
    text-align: center;
  }

  &__day {}
  &__month {}
  &__year {}
}
