{{ partial "header.html" . }}
<img src="http://placekitten.com/1920/480" />
{{ partial "navigation.html" . }}
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h2>Företaget</h2>
      {{ range first 1 (where .Data.Pages "Section" "index") }}
        {{ .Content }}
      {{ end }}
    </div>
    <div class="small-12 medium-6 columns">
      <h2>Aktuellt</h2>
      {{ range first 5 (where .Data.Pages "Section" "event") }}
        <div class="row event">
          <div class="date">
            <div class="date__wrapper">
              <span class="date__month">{{ .Date.Format "Jan" }}</span>
              <span class="date__day">{{ .Date.Format "02" }}</span>
              <span class="date__year">{{ .Date.Format "2006" }}</span>
            </div>
          </div>
          <div class="event__content">
            <h3>{{ .Title }}</h3>
            {{ .Content }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
