{{ partial "header.html" . }}
<img src="http://placekitten.com/1920/480" />
{{ partial "navigation.html" . }}
<div class="content">
  <div class="row">
    <div class="large-12 columns">
      <h1>{{ .Site.Params.index_title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h2>Företaget</h2>
      {{ range first 1 (where .Data.Pages "Section" "index") }}
        {{ .Content }}
      {{ end }}
    </div>
    <div class="small-12 medium-6 columns">
      <h2>Aktuellt</h2>
      {{ range first 5 (where .Data.Pages "Section" "event") }}
        <div class="row">
          <div class="small-3 medium-2 columns">
            {{ partial "date.html" . }}
          </div>
          <div class="event__content small-9 medium-10 columns clearfix">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ .Content }}
            <div>
              <a class="button small radius right" href="{{ .Permalink }}">Läs mer</a>
            </div>
          </div>
        </div>
      {{ end }}
      <div>
        <a class="button radius" href="/event">Läs alla nyheter</a>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
