---
import { site } from "../config/site";
---

<header
  class="bg-cover bg-center bg-no-repeat"
  style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('/img/header.jpg'); background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-set(url('/img/header.webp') type('image/webp') 1x, url('/img/header.jpg') type('image/jpeg') 1x);"
>
  <div class="mx-auto flex min-h-[50vh] w-full max-w-6xl flex-col items-center justify-center gap-6 px-2 pb-10 pt-28 md:gap-8 md:pb-14 md:pt-36">
    <div class="flex w-full justify-center">
      <a href="/" aria-label="Till startsidan" class="block w-7/12 md:w-5/12 lg:w-4/12">
        <picture>
          <source srcset="/img/logo_v2.webp" type="image/webp" />
          <img
            src="/img/logo_v2.png"
            alt="New Challenge"
            width="360"
            height="111"
            class="h-auto w-full"
          />
        </picture>
      </a>
    </div>
    <div class="flex flex-col items-center gap-2 text-center text-[var(--white)]">
      <h2 class="text-3xl font-semibold italic md:text-3xl">{site.header.title}</h2>
      <h2 class="text-3xl font-semibold italic md:text-3xl">{site.header.subtitle}</h2>
    </div>
  </div>
</header>
