---
import { site } from "../config/site";

type NavItem = {
  title: string;
  url: string;
  items?: NavItem[];
};

const navItems = site.nav as NavItem[];
---

<nav class="site-nav" aria-label="Main navigation">
  <div class="content-wrap">
    <ul class="site-nav-list">
      {navItems.map((item) => (
        <li class="site-nav-item">
          <a href={item.url}>{item.title}</a>
          {item.items?.length ? (
            <ul class="site-subnav-list">
              {item.items.map((subItem) => (
                <li class="site-subnav-item">
                  <a href={subItem.url}>{subItem.title}</a>
                </li>
              ))}
            </ul>
          ) : null}
        </li>
      ))}
    </ul>
  </div>
</nav>
