<nav class="site-nav" aria-label="Main navigation">
  <div class="content-wrap">
    <ul>
      <li><a href="/">Hem</a></li>
      <li><a href="/tjanster-pris/">Tjanster</a></li>
      <li><a href="/tjanster-pris/idrottspsykologisk-forelasning/">Idrottspsykologisk forelasning</a></li>
      <li><a href="/tjanster-pris/individuell-radgivning/">Individuell radgivning</a></li>
      <li><a href="/om-foretaget/">Om foretaget</a></li>
      <li><a href="/om-foretaget/natverk-samarbeten/">Natverk och samarbeten</a></li>
      <li><a href="/om-sidan/">Om sidan</a></li>
      <li><a href="#kontakt">Kontakt</a></li>
    </ul>
  </div>
</nav>
