{{ partial "header.html" . }}
<div id="content" class="content">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        {{ if not .Params.nodate }}
	        <div class="small-12 columns">
	          <h1>{{ .Title }}</h1>
	        </div>
        {{ else }}
	        <div class="small-2 medium-1 columns">
	          {{ partial "date.html" . }}
	        </div>
	        <div class="small-10 medium-11 columns">
	          <h1>{{ .Title }}</h1>
	        </div>
        {{ end }}
      </div>
      {{ .Content }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
