.date {
  border: solid 1px $secondary-color;
  display: inline-block;
  font-weight: 700;
  line-height: 1.2;
  margin-top: .8rem;
  text-transform: uppercase;
  padding: .3rem;

  &__day, &__month, &__year {
    display: block;
    color: $secondary-color;
    text-align: center;
  }

  &__month {}
  &__day {
    font-size: 1.5rem;
  }
  &__year {}
}
