.image {
  border: solid 1px $silver;
  display: inline-block;
  margin-bottom: rem-calc(20);
  padding: rem-calc(20);
  text-align: center;
  width: 100%;

  &__caption {
    display: block;
    margin-top: rem-calc(20);
  }

  &.left {
    float: none !important;
  }

  &.right {
    float: none !important;
  }

  img {
    width: 100%;
  }
}

@media #{$medium-up} {
  .image {
    margin-right: rem-calc(20);
    margin-left: rem-calc(20);
    width: auto;

    &.left {
      float: left !important;
    }

    &.right {
      float: right !important;
    }
  }
}
