$menu-bg: $oil;
$menu-height: rem-calc(45);
$menu-link-bg: $oil;
$menu-link-active-bg: $oil;
$menu-link-color: $white;
$menu-link-active-color: $white;
$menu-link-padding: ($menu-height / 3);

nav {
  overflow: hidden;
  position: relative;
  background: $menu-bg;

  .title-area {
    position: relative;
    margin: 0;
  }

  .name {
    height: $menu-height;
    margin: 0;

    h1, h2, h3, h4, p, span {
      line-height: $menu-height;
      font-size: rem-calc(17);
      margin: 0;
      a {
        color: $menu-link-color;
        width: 75%;
        display: block;
        padding: 0 $menu-link-padding;
      }
    }
  }

  .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0;

      a {
        color: $menu-link-color;
        text-transform: uppercase;
//        font-size: $topbar-menu-link-font-size;
        font-weight: bold;
        position: relative;
        display: block;
        padding: 0 $menu-link-padding;
        height: $menu-height;
        line-height: $menu-height;
      }
  }

  ul {
    margin-bottom: 0;
    list-style: none;
  }

  section {
    ul {
      display: block;

      li {
        & > a {
          color: $menu-link-color;
          display: block;
          font-size: rem-calc(13);
          padding: 12px 0 12px 0;

          &:hover {
            background: $menu-link-active-bg;
            color: $menu-link-active-color;
          }
        }

        &.active > a {
          background: $white;
          color: $menu-link-color;

          &:hover {
            background: $white;
            color: $menu-link-active-color;
          }
        }
      }
    }
  }
}

@media #{$medium-up} {
  nav {
    @include clearfix;
    overflow: visible;

    .title-area { float: left; }
    .name h1 a,
    .name h2 a,
    .name h3 a,
    .name h4 a,
    .name h5 a,
    .name h6 a { width: auto; }

    .toggle-topbar { display: none; }
    
    section {
      left: 0 !important;

      ul {
        float: right;
        width: auto;
        height: auto !important;
        display: inline;

        li {
          float: left;

          a{
            padding: 0 $menu-link-padding;
            line-height: $menu-height;
  //          color: $menu-link-color;
            background: $menu-bg;
            &:hover {
              background-color: $menu-bg;
  //            color: $menu-link-active-color;
            }
          }
        }

        .has-dropdown {
          position: relative;

          &:hover {
            & > .dropdown {
              display: block;
              @include element-invisible-off();
              position: absolute !important;
            }
          }

          & > a {
            padding-right: ($menu-link-padding + rem-calc(20));
            &:after {
              @include css-triangle(5px, rgba($menu-link-color, 0.4), top);
              margin-right: $menu-link-padding;
              position: absolute;
              right: 0;
              margin-top: -2.5px;
              top: ($menu-height / 2);
            }
          }
        }

        .dropdown {
          display: block;
          padding: 0;
          position: absolute;
          right: 0;
          top: auto;
          left: auto;
          overflow: hidden;
          z-index: 99;
          @include element-invisible();

          li {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
