---
layout: default
---
<article>
  <section class="grid-container">
    <div class="grid-x grid-padding-x align-center-middle text-center">
      <div class="cell padding-bottom-2">
        {% asset '{{ page.image | remove: "/assets/" }}' %}
      </div>
      <div class="cell padding-bottom-2">
        <h2 class="content-hero__title">{{ page.title }}</h2>
      </div>
    </div>
  </section>

  <section style="background-image: url('{% asset '{{ page.image | remove: "/assets/" }}' @path %}');background-repeat: no-repeat;background-size: cover;background-position: center;padding-bottom: 25%;">
  </section>

  <section class="grid-container padding-bottom-2">
    <div class="grid-x grid-padding-x align-center">
      <div class="cell small-11 medium-10">
        {{ content }}
      </div>
    </div>
  </section>
</article>
