---
layout: default
---
{% if site.data.home.hero %}
  <section class="grid-container">
    <div class="content-hero grid-x grid-padding-x align-center-middle text-center">
      <div class="cell padding-vertical-2">
        <h2 class="content-hero__title">{{ site.data.home.hero.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
      </div>
      <div class="cell padding-vertical-2 content-hero__body">
        {{ site.data.home.hero.body | markdownify }}
      </div>
    </div>
  </section>
{% endif %}

{% if site.data.home.feature %}
  <section class="grid-container feature-section">
    <h2 class="feature-section__headline">{{ site.data.home.feature.title | markdownify }}</h2>
    <div class="grid-x grid-padding-x">
      {% for section in site.data.home.feature.sections %}
        <div class="cell medium-{{ 12 | divided_by: site.data.home.feature.sections.size | ceil }}">
          <i class="fas {{ section.icon }}" aria-hidden="true"></i>
          <h4 class="feature-section__title">{{ section.title }}</h4>
          <p class="feature-section__desc">{{ section.body }}</p>
          <a href="{{ site.baseurl | append: section.url }}" class="button">{{ section.title }}</a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

<section class="parallax-content parallax-content--golf">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-6 padding-vertical-2 contact">
        <p>Kontakta Marcus Nyqvist om du har frågor kring rådgivning eller föreläsningar.</p>
        <p>Skicka en intresseanmälan här på hemsidan direkt eller till <a href="mailto:marcus@newchallenge.se">marcus@newchallenge.se</a>.</p>
        <p>Eller ring på <a href="tel:+46735833329">0735-83 33 29</a>.</p>
      </div>
      <div class="cell medium-6">
        <form>
          <div class="grid-x contact-form">
            <div class="cell contact-form__head">
              <h2>Kontakta oss</h2>
            </div>
            <div class="cell contact-form__body padding-top-1">
              <label>
                Namn
                <input id="name" name="name" type="text" placeholder="Namn">
              </label>
            </div>
            <div class="cell contact-form__body">
              <label>
                E-post
                <input id="email" name="email" type="text" placeholder="E-post">
              </label>
            </div>
            <div class="cell contact-form__body">
              <label>
                Meddelande
                <textarea id="text" name="text" rows="3" placeholder="Meddelande"></textarea>
                </label>
            </div>
            <div class="cell contact-form__body">
              <input type="submit" class="button" value="Skicka" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--<div class="parallax-content__wrapper grid-x grid-padding-x align-center-middle text-center">
      <div class="cell parallax-content__body">Är du/ni intresserade av att veta mer och hur vi kan hjälpa er Kontakta Marcus Nyqvist direkt här på hemsidan.</div>
    </div>-->
  </div>
</section>
