---
layout: default
---
{% if site.data.home.hero %}
  <section class="grid-container padding-bottom-2">
    <div class="content-hero grid-x grid-padding-x align-center-middle text-center">
      <div class="cell padding-vertical-2">
        <h2 class="content-hero__title">{{ site.data.home.hero.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
      </div>
      <div class="cell padding-vertical-2 content-hero__body">
        {{ site.data.home.hero.body | markdownify }}
      </div>
    </div>
  </section>
{% endif %}

{% if site.data.home.feature %}
  <section class="grid-container feature-section padding-bottom-2">
    <h2 class="feature-section__headline">{{ site.data.home.feature.title | markdownify }}</h2>
    <div class="grid-x grid-padding-x">
      {% for section in site.data.home.feature.sections %}
        <div class="cell medium-{{ 12 | divided_by: site.data.home.feature.sections.size | ceil }}">
          <i class="fas {{ section.icon }}" aria-hidden="true"></i>
          <h4 class="feature-section__title">{{ section.title }}</h4>
          <p class="feature-section__desc">{{ section.body }}</p>
          <a href="{{ site.baseurl | append: section.url }}" class="button">{{ section.title }}</a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
