$body-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$prototype-spacers-count: 4;

$titlebar-background: transparent;
//$titlebar-color: $white;
$topbar-background: transparent;
//$topbar-submenu-background: #e6e6e6;

$dropdownmenu-arrow-color: #ffffff;
$dropdown-menu-item-color-active: #fffff;
$accordionmenu-arrow-color: #0a0a0a;

$foundation-palette: (
  primary: #00b29c,
  secondary: #BF396A,
  success: #428C62,
  warning: #D9C666,
  alert: #F24B4B,
);
