$body-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

/*$foundation-palette: (
  primary: #534A8C,
  secondary: #BF396A,
  success: #428C62,
  warning: #D9C666,
  alert: #F24B4B,
);*/
